/data_bags/passwords
/cookbooks/app/files/default/authorized_keys
/cookbooks/app/files/default/ca.pem
/cookbooks/app/files/default/client-cert.pem
/cookbooks/app/files/default/client-key.pem
/cookbooks/app/files/default/database_dc.yml
/cookbooks/app/files/default/dev.swapslider.com.crt
/cookbooks/app/files/default/dev.swapslider.com.key
/cookbooks/app/files/default/local_env.yml
/cookbooks/app/files/default/secrets.yml
/cookbooks/app/files/default/slider_rsa
/cookbooks/app/files/default/slider_rsa.pub
/cookbooks/misc/files/default/root_rsa
/cookbooks/misc/files/default/root_rsa.pub
/cookbooks/misc/files/default/authorized_keys
/cookbooks/docker_netauth/files/default/authorized_keys
/cookbooks/docker_netauth/chef-12.4.0-1.el7.x86_64.rpm
/cookbooks/docker_netauth/chef-docker.tar.gz
/cookbooks/docker_netauth/Dockerfile

/nodes
/clients
